<!-- https://github.com/JTruax/bootstrap-starter-template/blob/master/template/start.html -->
{% load static %}



<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'inscricoes:produto_list' %}">Inscrição</a>
        </div>
      </li>


    </ul>
     {% if user.is_authenticated %}
      <style>

        .left img {
        max-width:25px;
        width: auto;
            }
    </style>
       <div class="left">
           <a href="{% url 'core:index' %}"><left><img src="{% static 'img/logop.png' %}"  align="left"/></left></a>
        </div>
     <br>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <li class="nav-link" >Bem vindo: {{ user.get_username }}</li>
          </li>
        </ul>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a href="{% url 'logout' %}" class="nav-link">Sair</a>
        </li>

      </ul>
    {% endif %}
  </div>
</nav>
