{% extends "base.html" %}

{% block content %}

<html>

    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Lista de Inscritos </p>
            </div>
        <div>
        <div class='details'>
          {% if objects in object_list %}

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>TELEFONE</th>
            <th>Email</th>

          </tr>
        </thead>
        <tbody>
           {% for objects in object_list %}
            <tr>
              <td>
                <a href="{{ object.get_absolute_url }}">{{ object.nome }}</a>
              </td>
               <td>
                {{ object.cpf }}
              </td>
              <td>
              {{ object.telefone }}
              </td>
              <td>
                {{ object.email }}
              </td>

            </tr>
          {% endfor %}
           </tbody>
      </table>
    {% else %}
      <p class="alert alert-warning">Sem itens na lista.</p>
    {% endif %}
            <hr class='hrItem' />
        </div>
    </div>
    </body>
</html>

{% endblock content %}

{% block js %}


  <script>
    // Close alert after 2 seconds
    window.setTimeout(function() {
      $('.alert').fadeTo(500, 0).slideUp(500, function() {
        $(this).remove();
      });
    }, 2000);
  </script>

{% endblock js %}